{
  "extends": [
    "react-app",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {
      "useTabs": false,
      "printWidth": 120,
      "tabWidth": 4,
      "singleQuote": true,
      "trailingComma": "es5",
      "jsxBracketSameLine": true,
      "parser": "typescript"}],
    "react/sort-comp": 2,
    "react/jsx-no-bind": 2,
    "no-unused-vars": 2,
    "no-duplicate-imports": 2
  }
}
