.App {
    header {
        background-color: #282c34;
        height: 3em;
        color: white;
        img {
            height: 2.5em;
            padding: 0.25em 0.25em;
        }
    }
    .article-filter {
        display: inline-block;
        float: right;
        margin: 0.5em 1em;
        input {
            padding: 0.4em;
            border-radius: 1em;
            outline: 0;
        }
        button {
            padding: 0.5em;
            margin-left: 0.5em;
            border-radius: 0.5em;
            background-color: white;
            border: none;
            outline: 0;
            svg {
                width: 1em;
            }
        }
    }
    main {
        &.loading {
            margin: 2em 0;
            text-align: center;
        }
    }
    .article-list>div {
        display: inline-block;
        padding: 1em;
        width: 33.3%;
        transition: width 0.5s;
    }

    svg.icon.big-spinner {
        width: 3em;
        animation: rotating 1s infinite steps(8);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
